{
    "numbers": {
        "0": {"x": 0, "y": 0},
        "1": {"x": 0, "y": 0},
        "2": {"x": 0, "y": 0},
        "3": {"x": 0, "y": 0},
        "4": {"x": 0, "y": 0},
        "5": {"x": 0, "y": 0},
        "6": {"x": 0, "y": 0},
        "7": {"x": 0, "y": 0},
        "8": {"x": 0, "y": 0},
        "9": {"x": 0, "y": 0}
    },
    "letters": {
        "c": {"x": 0, "y": 0},
        "a": {"x": 0, "y": 0},
        "p": {"x": 0, "y": 0},
        "t": {"x": 0, "y": 0},
        "h": {"x": 0, "y": 0}
    },
    "enter": {"x": 0, "y": 0}
}

